<h1><%= t("menu.editing_menus") %></h1>
<%= render "spree/shared/error_messages", :target => @menu %>

<%= semantic_form_for([:admin, @menu],:html => { :multipart => true }) do |f| -%>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t("actions.update"), nil, 'submit' %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_menus_path %>
  </p>
<% end %>